.main {
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px;
    z-index: 11111;
    position: fixed;
    width: 100%;
}

.left_nav {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    height: 8rem;
    font-size: 1.5rem;
}

.right_nav {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    cursor: pointer;
}

.heading {
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 3rem;
}

.des{
    margin-left: 2rem; 
    margin-top: 3rem;
}
.link:hover{
    color: var(--red);
}

