@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@font-face {
  font-family: 'Avenir Light';
  src: url('../public/Avenir Light.ttf') format('woff2'),
    url('../public/Avenir Light.ttf') format('woff');
}

html {
  font-size: 10px;
}

@media (width <=900px) {
  html {
    font-size: 7px;
  }
}

@media (width <=750px) {
  html {
    font-size: 6px;
  }
}

body {
  font-family: 'Avenir Light', sans-serif;
}

:root {
  --red: #c2274b;
  --wheat: #fff0ec;
  --grey: #b4c8dc;
  --blue: #556b8d;
  --forum: "Forum", serif;
  --avenir: "Nunito Sans", sans-serif;
}